/* -------------------- Main Design -------------------- */
h1{
    text-align: center;
    color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    border: 1px solid purple;
    margin: auto;
}
hr form{
    margin-top: 50px;
}
body hr {
    margin-top: 50px;
}
body h1{
    margin-top: 50px;
}
body .form-container{
    margin-top: 50px;
}
.form-container form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-container{
    margin-top: 100px;
    padding: 50px;
    width: 300px;
    margin: auto;
    border: 2px solid purple;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(128, 0, 128, 0.5);
    
}
.form-container button{
    width: 300px;
    margin: auto;
    border: 2px solid purple;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(128, 0, 128, 0.5);
}
.form-container button:hover{
    background-color: purple;
    color: white;
    cursor: pointer;
}


