body{
    background: #f0f2f5;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card{
    background: white;
    width: 150px;
    height: 250px;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1),
                0 2px 6px rgba(0,0,0,.08);
    text-align: center;
}

.card img{
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 20px;
}

.card p{
    font-size: 15px;
    color: #1c1e21;
    font-weight: bold;
    margin-bottom: 16px;
}

.card button{
    background: #1877f2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 999px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
}

.card button:hover{
    background: #166fe5;
}