body{
    margin: 0;
    padding: 0;
}

.header-logo{
    height: 80px;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightsalmon;
}
.header-logo img{
    height: 80px;
    margin-top: 10px;
}
.header-logo h1{
    color: white;
    font-size: 36px;
    font-weight: bold;
}
.form-container{
    margin: 20px auto;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.form-container form{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    
}
.form-container form input, 
.form-container form select{
    width: 300px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
.form-container form button{
    width: 300px;
    height: 40px;
    background-color: lightsalmon;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

.form-container form button:hover{
    background-color: orangered;
}

.result h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    color: lightsalmon;
}